.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.welcome-player {
  margin-left: 25%;
  
}

.navbar.navbar-default {
    opacity: 0.75;
}

.dimmed {
    position: relative;
    opacity: 0.75;
    background-color: #F8F8F8;
}

.cssans__word {
    --cssans-primary: 77,174,80;
    --cssans-secondary: 92,52,169;
    --cssans-accent1: 234,102,6;
    font-size: 55%;
}